<div ng-include="'header.html'"></div>

<div style="margin: auto; width: 60%; min-width: 1024px">
    <div class="panel" style="height:300px; width:675px; float:left; padding:20px; margin:4px">
        <img src="#" style="width:200px; height:250px; float:left; margin-right:25px"/>
        <h5 style="margin-top:-2px;font-family:'roboto black'">Fasilitas</h5><h5 style="float:right;margin-bottom:-13px;">{{reports[rep].supports}} supports</h5>
        <h3 style="margin-top:3px;margin-bottom:-13px;">{{reports[rep].title}}</h3><hr>
        <h5 style="margin-top:-10px;font-family:'roboto condensed'">Dipos pada {{reports[rep].date}}</h5>       
        <h5 style="margin-top:-3px;font-family:'roboto condensed'">Berlokasi di {{reports[rep].location}}</h5>
        <h5 style="margin-top:-3px;font-family:'roboto condensed'">Ditujukan ke {{reports[rep].target}}</h5>
        <h5 style="margin-top:-3px;font-family:'roboto condensed'">{{reports[rep].status}}</h5>
    </div>
    <div class="panel" style="height:140px; width:325px; float:left; padding:35px; margin:4px">
        <h5 style="margin:-15px;font-family:'roboto condensed'"> PROFIL PELAPOR </h5><hr>
        <div style="margin:-15px;">
        <img src="#" style="width:65px; height:65px; border-radius: 32.5px; float:left; margin-right:25px"/>
        <h4 style="margin-top:3px;">Nama ku Taro</h4>
        <h5 style="margin-top:-5px;font-family:'roboto condensed'">taro@students.itb.ac.id</h5>     
        <h5 style="margin-top:-5px;font-family:'roboto condensed'">Sistem Teknologi Informasi</h5>
        </div>
    </div>
</div>