<div ng-include="'header.html'"></div>

<div style="margin: auto; width: 60%; min-width: 1024px">
    
	<h4 style="font-weight:bold">Konfirmasi Masalah Telah Selesai</h4>
    <div class="panel" style="height:250px; width:1024px; float:left; padding:20px; margin:4px">
        <img src="#" style="width:150px; height:200px; float:left; margin-right:80px; margin-left:40px"/><br>
        <h5 style="margin-top:-2px;font-family:'roboto black';color:blue">Kondisi saat ini</h5><br>
        <form>
		<input style="width:600px; height:100px">
		<br><br>
		<div>
			<h5 style="font-family:'roboto condensed'; float:right;margin-right:50px"><button>KIRIM</button></h5>
		</div>
		</form>
    </div>
</div>