<header>
  <div class="jumbotron" style="height:150px; background-color:#2962ff; color:white">
    <div class="container" style="float:left; margin-left:20%; width:20%">
      <h1 style="font-weight:bold">GC</h1>
    </div> 
  </div> 
</header>

<div class="container" style="margin: auto; width: 30%">
  <h2 style="font-family:'Roboto Thin'; margin-top:-80px; text-align:center; color:#ffffff"> Welcome Back, Admin!</h2>
  <br><br><br>
  <br><br><br>
  <form action="home" method="get">
    <div class="form-group"  style="width:500px; align:middle;">
      <label for="element-1" class="control-label">Username</label>
      <input type="text" id="element-1" class="form-control" >
      <br>
      <label for="element-2" class="control-label">Password</label>
      <input type="text" id="element-2" class="form-control">
      <br>
      <button type="submit" style="float:right">Login </button>
    </div>

  </form>
</div>