<div ng-include="'header.html'"></div>

<div style="background-color:#E9EBEE; color:#555555; font-family:Roboto">
  <div style="margin: auto; width: 60%; min-width: 1024px" ng-repeat="report in reports">
    <!-- PANEL IS LOOP-ABLE (4 COLUMN) -->
    <div class="panel" style="height:248px; width:248px; float:left; padding:15px; margin:4px">
      <div style="text-align:center"><img src="#" style="width:100px; height:100px;"/></div>
      <br>
      <h4 style="margin-top:3px;"><a ng-click="detail(report.id)" ng-href="/detail/{{report.id}}">{{report.title}}</a></h4>
      <h5 style="font-family:'roboto'">{{report.pelapor}}</h5>    
      <h6 style="font-family:'roboto'">{{report.date}}</h6>
	  <h6 style="font-family:'roboto'" ng-class="getStatusClass(report.status)">{{report.status}}</h6>
    </div>
  </div>  
</div>