body{
	min-width: 100%;
	background-color:#E9EBEE;
	color:#555555; 
	font-family:Roboto !important;
}

h1 {
    font-family: Arial;   
}
h5 {
    font-family:roboto condensed !important;   
}

.processed {
	color : #009688;
}
.nostat {
	color : #9B9B9B;
}
.rejected {
	color : #F44336;
}
.done {
	color : #2962FF;
}
.new {
	color : #00BCD4;
}